/* Estilos para o formulário em grid */
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas */
    gap: 20px;
}

/* Faz esses campos ocuparem as duas colunas */
.full-width {
    grid-column: 1 / -1;
}

/* Tabela de Produtos */
.col-img { width: 80px; }
.col-actions { width: 150px; }

.produto-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #eee;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: vertical;
}